.container {
    display: flex;
    flex-direction: row;
}

.Movie-Pics {
    padding-left: 15px;
    padding-right: 15px;
}

.mb-4 {
    justify-content: center;
}

.movie-details {}

.Movie-Desc {
    text-align: left;
}

.movie-page-card {
    width: 40vh;
    text-align: center;
    border-radius: 20px;
}

.movie-page-card img {
    width: 100%;
    height: 55vh;
    border-radius: 20px;
}

.desc-movie {}

.desc-movie ul {
    margin: 0;
    padding: 0;
}

.desc-movie li {
    list-style: none;
}

.vertical-line {
    width: 100%;
    height: 1vh;
    background-color: #363062;
    border-radius: 20px;
    padding: 0;
}

.show-time-desc{
    text-align: left;
    padding-left: 1.2vh;
}

.button-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363062;
    color: #eaeaea;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 1.8vh;
    transition: background 0.5s;
    font-size: 0.9rem;
}


.button-field button:hover {
    background-color: rgb(155, 60, 250);
}