*{
    font-family: 'Roboto', sans-serif;
}


.judul-berita {
    font-size: 55px;
    color: black;
    text-align: center;
    margin: 1%;
}

.News {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.News2{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.News3{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gambarberita {
    width: 37vh;
    height: 160px;
    display: block;
    border-radius: 5%;
    image-resolution: from-image;
    cursor: pointer;
}

.gambarberita:hover{
    background: grey; /* Adjust the alpha value for the darkness */
    opacity: 0.8; /* Initially invisible */
    transition: opacity 0.3s ease;
}

.hedlineberita {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.boxberita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .News {
    flex-direction: column;
    width: 70%;
    }
}