footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  align-items: baseline;
  background-color: #363062;
  width: 100%;
  bottom: 0;
  position: relative;
  margin-top: auto;
}

.foot {
  background-color: #363062;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
}

.title {
  font-size: 2.7rem;
  color: #F5E8C7;
}

.ling {
  color: #F5E8C7;
  font-size: 1.1rem;
  text-decoration: none;
}

.sosial {
  color: #F5E8C7;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  width: 100%;
  text-align: center;
}

.box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box2 a {
  transition: color .4s ease;
}

.box2 a:hover {
  color: #eaeaea;
}

.box3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
}

.box3 ul {
  margin: 0;
  padding: 0;
}

.box3 li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 1.5vh;
}

.box3 a {
  text-decoration: none;
  color: #F5E8C7;
}

.box3 a i {
  font-size: 1.8rem;
  transition: color .4s ease;
}

.box3 a:hover i {
  color: #eaeaea;
}

.box4 {
  background-color: #363062;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7rem;
}

.description {
  color: rgb(255, 255, 255);
  padding: 2px;
  margin: 2px;
}

@media (max-width: 768px) {

  .box2 {
    display: flex;
    flex-direction: column;
  }

  .box3 {
    display: flex;
    flex-direction: column;
  }

  .box3 li {
    display: flex;
    flex-direction: column;
  }

  .box3 a i {
    font-size: 1.4rem;
    margin: 1vh 0;
  }

  .sosial {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {

  footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .foot {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .box2 {
    display: flex;
    flex-direction: column;
  }

  .box3 {
    display: flex;
    flex-direction: row;
  }

  .box3 li {
    display: flex;
    flex-direction: column;
  }

  .box3 a i {
    font-size: 1.4rem;
  }

  .sosial {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
  }
}