.nav-link {
    transition: color 0.3s;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>.container {
    margin-right: 5px;
}

.nav-link:hover,
.nav-link.active {
    color: rgb(216, 223, 245) !important;
}

.btn:hover {
    border-color: rgb(129, 143, 180);
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
}

.navbar-toggler:hover {
    color: rgb(43, 43, 90) !important;
}

button:not(:disabled) {
    background: linear-gradient(to right, rgba(160, 166, 218, 0.5), rgba(81, 87, 136, 0.5));
}

.registerAndLogin{
    display: flex;
}

.logout{
    margin-top: 7px;
}

@media (max-width: 768px) {
    span.mx-2.d-flex.align-items-center {
        display: none !important;
    }

}